<mat-list>
  <button>Free training</button>

  <div mat-subheader>Training Plans</div>
  @for (plan of trainingPlans(); track plan) {
    <mat-list-item (click)="startTrainingPlan(plan)">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{plan.name}}</div>
<!--      <div matListItemLine>{{folder}}</div> -->
      <div matListItemMeta>
        <button mat-icon-button (click)="editTrainingPlan(plan)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>
  }
</mat-list>
<div class="fab-container">
  <button (click)="newTraining()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
