<mat-list>
  <div mat-subheader>Training Plans</div>
  <mat-list-item (click)="startFreeTraining()">
    <mat-icon matListItemIcon>accessibility_new</mat-icon>
    <div matListItemTitle>Free Training</div>
  </mat-list-item>
  @for (plan of trainingPlans(); track plan) {
    <mat-list-item (click)="startTrainingPlan(plan)">
      <mat-icon matListItemIcon>fitness_center</mat-icon>
      <div matListItemTitle>{{plan.name}}</div>
<!--      <div matListItemLine>{{folder}}</div> -->
      <div matListItemMeta>
        <button mat-icon-button (click)="editTrainingPlan(plan)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>
  }
</mat-list>
<div class="fab-container">
  <button (click)="newTrainingPlan()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
