<div class="grid-container">
  <h1 class="mat-h1">Exercise {{exercise()?.name}} History</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        @for (serie of [1, 2, 3, 4, 5, 6]; track $index) {
          <th>{{ serie }}</th>
        }
      </tr>
    </thead>
    @for (execution of executions(); track $index) {
      <tr>
        <td></td>
        @for (serie of execution.series; track $index) {
          <td>{{ serie.weight }}kg - {{ serie.repetitions}}x</td>
        }
      </tr>
    }
  </table>
</div>
