:host {
  display: block;
  position: relative;
  background-color: var(--mat-sys-surface, #303030);
  color: var(--mat-sys-on-surface, #fff);
}

.search {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

mat-selection-list, mat-list {
  padding-bottom: 88px; // Space for FAB
}

.fab-container {
  position: sticky;
  bottom: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  pointer-events: none;

  button {
    pointer-events: auto;
  }
}

.spacer {
  flex: 1 1 auto;
}
