@if (showSelection()) {
  <mat-toolbar color="primary">
    <span>Select Exercises</span>
    <span class="spacer"></span>
    <button mat-button (click)="closeDialog()">
      Done
    </button>
  </mat-toolbar>
}
<mat-form-field class="search">
  <mat-label>Search</mat-label>
  <input [(ngModel)]="searchText" matInput type="text" />
  <button
    mat-icon-button
    matPrefix
  >
    <mat-icon>search</mat-icon>
  </button>
  <button (click)="searchText.set('')" [hidden]="searchText().length == 0"
    mat-icon-button
    matSuffix
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
@if (showSelection()) {
  <mat-selection-list [(ngModel)]="selectedItems">
    <div mat-subheader>Exercises</div>
    @for (exercise of filteredExercises(); track exercise) {
      <mat-list-option [value]="exercise">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{exercise.name}}</div>
        <div matListItemLine>{{exercise.name}} - {{ exercise.executionCount }}</div>
      </mat-list-option>
    }
  </mat-selection-list>
} @else {
  <mat-list>
    <div mat-subheader>Exercises</div>
    @for (exercise of filteredExercises(); track exercise) {
      <mat-list-item [routerLink]="['/exercise', exercise.id, 'history']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{exercise.name}}</div>
        <div matListItemLine>{{exercise.name}} - {{ exercise.executionCount }}</div>
      </mat-list-item>
    }
  </mat-list>
}
<div class="fab-container">
  <button (click)="newExercise()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
